.site-header {
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 0px;
  font: normal 100% Helvetica, Arial, sans-serif;
  /* 0 on mobile, modify by Hux */
}

.wrapper-footer{
    margin: 2em;
    text-align: center;
    color: #808080;

}
.wrapper-footer a{
    display: inline-block;
    margin: -2em ;

}
