<footer class="site-footer">

    <div class="wrapper-footer">
        {% if site.weibo_username %}
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                <span >{% include icon-sina.svg %}</span>
            </a>
        {% endif %}
        {% if site.github_username %}
            <a target="_blank" href="https://github.com/{{ site.github_username }}">
                <span>{% include icon-github.svg %}</span>
            </a>
        {% endif %}
        {% if site.facebook_username %}
        <a target="_blank" href="https://github.com/{{ site.github_username }}">
            <span>{% include icon-facebook.svg %}</span>
        </a>
        {% endif %}
        <p class="tool">
            Copyright &copy;{{ site.title}}{{site.time | date: '%Y' }}
        </p>
    </div>


</footer>


